.schedule {
  /* display: flex; 
  gap: 0.8rem;
  margin-top: 10px;  */
  padding: 1rem;

}

.wrapper{
  display: flex;
}

.box {
  width: 100%;
  min-height: 80vh;
  position: relative;
  background: #fff;
  padding: var(--content-padding);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
