body {
  margin: 0;
  font-display: swap;
  width: 100vw;
  height: 100vh;
  background: var(--color-bg);
}

/* primereact splitter */
.p-splitter {
  border: 0;
  background: transparent;
  border-radius: 15px;
}

.p-splitter-panel {
  border-radius: 15px;
  background: #fff;
}
