.button {
  color: var(--color-base-accent);
  padding: 0.8rem;
  border-radius: var(--content-button-radius);
  border: 2px solid var(--color-border);
  cursor: pointer;
  font-size: 0.85rem;
}

.action {
  font-weight: 600;
  background: #f1f1f6;
}
