.wrapper {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.3rem;
}
.profile {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1.3rem;
  border-bottom: 1px solid var(--color-border);
}
.profile > svg {
  position: absolute;
  right: 0;
  width: 1.5rem;
  color: var(--color-base-accent);
  background: #dde6ec;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
}
.user_img {
  width: 5.2rem;
  border: 2px solid #92ace9;
  border-radius: 50%;
}
.username {
}
.name {
  font-size: 0.7rem;
  color: var(--color-base);
}
.user_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.3rem;
}
.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.info > svg {
  width: 1.2rem;
  color: var(--color-base);
}
.title_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.title {
  font-size: 0.53rem;
  color: var(--color-base);
}
.text {
  font-size: 0.8rem;
  color: var(--color-base-accent);
}
