.wrapper {
  width: 45%;
  position: absolute;
  top: 20px;
  right: 2%;
  z-index: 999;
  border-radius: 5px;
}

.searchBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 42px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}

.dropdown {
  position: relative;
}

.defaultOption {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 125px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  border-right: 2px solid rgb(203 207 212);
  color: rgb(70, 70, 70);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.defaultOption svg {
  color: rgb(123 127 135);
}

.ul {
  position: absolute;
  border-radius: 5px;
  top: 45px;
  background: #fff;
  width: 125px;
  text-align: center;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  display: none;
}

.ul.active {
  display: block;
}

.ul li {
  padding: 0.6rem 0;
  color: rgb(70, 70, 70);
  cursor: pointer;
}

.ul li:first-child {
  padding-top: 1.3rem;
}

.ul li:last-child {
  padding-bottom: 1.3rem;
}

.ul li:hover {
  background: rgb(207, 223, 241);
}

.searchField {
  width: 450px;
  height: 42px;
  position: relative;
}

.input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  letter-spacing: 0.1rem;
  padding-left: 20px;
  padding-right: 38px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-input-placeholder {
  color: rgb(194, 197, 204);
}

::-moz-input-placeholder {
  color: rgb(194, 197, 204);
}

::-ms-input-placeholder {
  color: rgb(194, 197, 204);
}

.searchField svg {
  position: absolute;
  top: 25%;
  right: 20px;
  width: 22px;
  height: 22px;
  color: #2697ff;
  cursor: pointer;
}

@media (max-width: 658px) {
  .wrapper {
    width: 30%;
  }
  .defaultOption {
    width: 7rem;
  }
  .input,
  .searchField {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
